.container
{
    text-align: center;
}

table
{
    margin: auto;
}

input
{
    font-size: 25px;
    border: 5px solid black;
    border-radius: 15px;
    height: 65px;
}

button
{   
    font-size: 45px;
    background-color: aqua;
    border-radius: 25px;
    width: 77px;
    height: 90px;
}

.calculator
{
    display: inline-block;
    background-color: blanchedalmond;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
}